<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-menu-button >⚯ ͛</ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
    <ion-title slot="start">TIENDA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img alt="Figura HP" src="assets/img/figuras.jpg" />
    <ion-card-header>
      <ion-card-title >Figuras</ion-card-title>
      <ion-button (click)="carrito()">Añadir al carrito</ion-button>
    </ion-card-header>
  </ion-card>
  


</ion-content>
