<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-menu-button >⚯ ͛</ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
    <ion-title slot="start">PERSONAJES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-breadcrumbs>
    <ion-breadcrumb href="/principal" >Inicio</ion-breadcrumb>
    <ion-breadcrumb href="/personajes" >Personajes</ion-breadcrumb>
 
  </ion-breadcrumbs>

  <ion-card class="tamano">
    <img class="imgtamano" alt="Harry Potter" src="assets/img/harry.jpg" />
    <ion-card-header>
      <ion-button (click)="Harry()">Harry Potter</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Ron Weasley</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Hermione Granger</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Lord Voldemort</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
