<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-menu-button >⚯ ͛</ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
    <ion-title slot="start">HP WORLD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-button (click)="personajes()">Personajes</ion-button>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Hechizos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Lugares</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Bestias</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Libros</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Peliculas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="tamano">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-button (click)="tienda()">Tienda</ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
