<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-menu-button >⚯ ͛</ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar" ></ion-searchbar>
    <ion-title slot="start">HARRY POTTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-breadcrumbs>
    <ion-breadcrumb href="/principal">Inicio</ion-breadcrumb>
    <ion-breadcrumb href="/personajes">Personajes</ion-breadcrumb>
    <ion-breadcrumb href="/harry-potter">Harry Potter</ion-breadcrumb>

    <ion-chip>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Personaje Hombre</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
 
  </ion-breadcrumbs>
  <ion-card class="tamano">
    <img class="imgharry" alt="Harry Potter" src="assets/img/harry.jpg" />
    <ion-card-header>
      <ion-card-title>Harry Potter</ion-card-title>

    </ion-card-header>
  </ion-card>

</ion-content>
