<ion-app>
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>HP World</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-item routerLink="/principal">Inicio</ion-item>
          <ion-item routerLink="/character-list">Personajes</ion-item>
          <ion-item routerLink="/student-list">Estudiantes</ion-item>
          <ion-item routerLink="/spell-list">Hechizos</ion-item>
          <ion-item routerLink="/book-list">Libros</ion-item>
          <ion-item routerLink="/movie-list">Peliculas</ion-item>
          <ion-item routerLink="/tienda">Tienda</ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
