<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-menu-button >⚯ ͛</ion-menu-button>
    </ion-buttons>
    <ion-searchbar placeholder="Buscar"></ion-searchbar>
    <ion-title slot="start">CARRITO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-text color="tertiary">
      <h3>Aca encontraras lo que agregues al carrito de compras para despues poder llevar a cabo la compra</h3>
    </ion-text>
</ion-content>
